<div style="color: #000;">
<h2>Ol&aacute; {{name}},</h2>
<p>Voc&ecirc; est&aacute; recebendo este e-mail por que recebemos uma requisi&ccedil;&atilde;o para redefinir sua senha. Se n&atilde;o foi voc&ecirc;, ignore este e-mail.</p>
<p>&nbsp;</p>
<p> <a href="{{link}}" style="color: rgb(33, 33, 165);">Clique aqui</a> para resetar sua senha.</p>
<p>Ou, cole em seu navegador: {{link}}</p>
<p>&nbsp;</p>
<p>Este link tem validade de 1 hora.</p>
</div>
